OPENCV_DEVICE=0
WIDTH=640
HEIGHT=480
FPS=30
HOST=0.0.0.0
PORT=8000
BOB_THRESHOLD_PX=35
BOB_COOLDOWN_MS=300
LOCK_IDLE_SEC=1.0
MEDIAPIPE_MODEL_PATH=models/hand_landmarker.task
MEDIAPIPE_AUTO_DOWNLOAD_MODEL=true
